
[submodule "assignments/PS0"]
	path = assignments/PS0
	url = https://github.com/CEVE543/PS0.git
[submodule "assignments/PS1"]
	path = assignments/PS1
	url = https://github.com/CEVE543/PS1.git
[submodule "assignments/PS2"]
	path = assignments/PS2
	url = https://github.com/CEVE543/PS2.git
[submodule "assignments/final-project"]
	path = assignments/final-project
	url = https://github.com/CEVE543/final-project.git
[submodule "labs/Lab-1"]
	path = labs/Lab-1
	url = https://github.com/CEVE543/Lab-1.git
[submodule "labs/Lab-2"]
	path = labs/Lab-2
	url = https://github.com/CEVE543/Lab-2.git
[submodule "labs/Lab-3"]
	path = labs/Lab-3
	url = https://github.com/CEVE543/Lab-3.git
[submodule "labs/Lab-4"]
	path = labs/Lab-4
	url = https://github.com/CEVE543/Lab-4.git
[submodule "labs/Lab-5"]
	path = labs/Lab-5
	url = https://github.com/CEVE543/Lab-5.git
[submodule "labs/Lab-6"]
	path = labs/Lab-6
	url = https://github.com/CEVE543/Lab-6.git
[submodule "labs/Lab-7"]
	path = labs/Lab-7
	url = https://github.com/CEVE543/Lab-7.git
[submodule "labs/Lab-8"]
	path = labs/Lab-8
	url = https://github.com/CEVE543/Lab-8.git
[submodule "labs/Lab-9"]
	path = labs/Lab-9
	url = https://github.com/CEVE543/Lab-9.git
[submodule "labs/Lab-10"]
	path = labs/Lab-10
	url = https://github.com/CEVE543/Lab-10.git
[submodule "labs/Lab-11"]
	path = labs/Lab-11
	url = https://github.com/CEVE543/Lab-11.git
