
[submodule "assignments/PS0"]
	path = assignments/PS0
	url = https://github.com/CEVE543/PS0.git
[submodule "assignments/PS1"]
	path = assignments/PS1
	url = https://github.com/CEVE543/PS1.git
[submodule "assignments/PS2"]
	path = assignments/PS2
	url = https://github.com/CEVE543/PS2.git
[submodule "assignments/PS3"]
	path = assignments/PS3
	url = https://github.com/CEVE543/PS3.git
