
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/CEVE543/lab-01.git
[submodule "labs/lab02"]
	path = labs/lab02
	url = https://github.com/CEVE543/lab-02.git
[submodule "labs/lab03"]
	path = labs/lab03
	url = https://github.com/CEVE543/lab-03.git
[submodule "labs/lab04"]
	path = labs/lab04
	url = https://github.com/CEVE543/lab-04.git
[submodule "labs/lab05"]
	path = labs/lab05
	url = https://github.com/CEVE543/lab-05.git
[submodule "labs/lab06"]
	path = labs/lab06
	url = https://github.com/CEVE543/lab-06.git
[submodule "labs/lab07"]
	path = labs/lab07
	url = https://github.com/CEVE543/lab-07.git
